@model BanSach.Models.SanPham

@{
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form-group .form-control {
        border-color: #eee;
        min-height: 41px;
        box-shadow: none !important;
        margin-left: 3%;
        border: 2px solid;
        border-radius: 5px;
    }

        .form-group .form-control:focus {
            border: 3px solid #5cd3b4;
        }

    .form-horizontal h2 {
        color: #5cd3b4;
    }

    .form-horizontal .btn {
        margin-left: 25%;
    }

    .nutback {
        padding-bottom: 15px;
        font-size: large;
    }

        .nutback :hover {
            text-decoration: none;
            font-size: large;
            color: darkblue;
        }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Sửa</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDsp)

        <div class="form-group">
            <div class="control-label col-md-2"> Tên sách</div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Mô tả</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Thể loại</div>
            <div class="col-md-10">
                @Html.DropDownList("TheLoai", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TheLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Giá</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Số lượng</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Hình</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.HinhAnh, null, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Tác giả</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Nhà Xuất Bản</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NhaXB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NhaXB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Năm Xuất Bản</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamXB, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.NamXB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" style="border-radius:10px;width:max-content;margin-left:45%;" />
            </div>
        </div>
    </div>
}

<div class="nutback">
    @Html.ActionLink("Quay về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
