@model IEnumerable<BanSach.Models.KhachHang>

@{
    ViewBag.Title = "Quản lý danh sách khách hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .tieude {
        background-color: darkcyan;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        color: white;
        margin: 10px 10px 20px 10px;
        padding: 5px;
    }

    .them a {
        border-radius: 10px;
        background-color: darkcyan;
        color: white;
        font-size: large;
        padding: 5px;
        margin: 50px 10px 0 10px;
    }

        .them a:hover {
            text-decoration: none;
            color: white;
            background-color: #027171;
        }

    .table-striped {
        width: 100%;
    }
</style>

<h2 class="tieude">Danh sách khách hàng</h2>

<p class="them">
    @Html.ActionLink("Thêm", "Create")
</p>
<table class="table table-striped" width="100%">
    <tr style="background-color: steelblue; color: lightcyan; text-align: left;">
        <th style="border-top-left-radius: 25px;">
            Tên
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th style="border-top-right-radius: 25px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MKhau)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDkh }) |
                @Html.ActionLink("Thông tin", "Details", new { id = item.IDkh }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.IDkh })
            </td>
        </tr>
    }
</table>
