@model BanSach.Models.DanhMuc

@{
    ViewBag.Title = "Thêm danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .form-group .form-control {
        border-color: #eee;
        min-height: 41px;
        box-shadow: none !important;
        margin-left: 3%;
    }
        .form-group .form-control:focus {
            border: 3px solid #5cd3b4;
            border-radius:5px;
        }
    .form-horizontal h2 {
        color: #5cd3b4;
    }
    .form-horizontal .btn{
        margin-left:25%;
    }
    .nutback {
        padding-bottom: 15px;
        font-size: large;
    }
    .nutback :hover{
        text-decoration:none;
        font-size:large;
        color:darkblue;
    }
    #add {
        border-radius: 10px;
        width: max-content;
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <center><h2>Thêm danh mục</h2></center>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class = "control-label col-md-2"><b>Danh mục</b></div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.DanhMuc1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DanhMuc1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Thể loại</b></div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.TheLoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TheLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success" id="add"/>
            </div>
        </div>
    </div>
}

<div class="nutback"> 
    @Html.ActionLink("Quay về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
