@model BanSach.Models.DanhMuc

@{
    ViewBag.Title = "Chi tiết danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<center>
    <h2>Chi tiết</h2>
</center>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc1)
        </dd>

        <dt>
           Thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay về quản lý danh mục", "Index") |
    @Html.ActionLink("Xoá", "Delete", new { id = Model.ID })
</p>
