<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="~/Scripts/changeimg.js"></script>

</head>

<body>
    <!-- Topbar Start -->

    <div class="row align-items-center py-3 px-xl-5" id="topbar">
        <div class="col-lg-3 d-none d-lg-block">

            <a href="~/SanPhams/TrangChu" class="text-decoration-none">
                <h2 class="m-0 display-5 font-weight-semi-bold" style="background-color:white;color:black;border:none;"><img src="~/Content/img/Logo.jpg" style="width:40px;">BANSACHGIA</h2>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            @using (Html.BeginForm("ProductList", "SanPhams", FormMethod.Get))
            {
                <div class="input-group" style="margin-left:5%;">
                    <input type="text" class="form-control" placeholder=" Nhập tên sách bạn muốn tìm" name="SearchString">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="~/ShoppingCart/ShowCart" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                @Html.Action("BagCart", "ShoppingCart")
            </a>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start-->
    <div class="container-fluid" id="navbar">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px; border-radius:10px;">
                    <h6 class="m-0">Danh mục</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="min-width: calc(100% - 30px); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; z-index: 1; background-color: azure;box-shadow:2px 2px;">
                    @Html.Action("PhanDanhMuc", "DanhMucs")
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="~/SanPhams/ProductList" class="text-decoration-none d-block d-lg-none d-flex ">
                        <img src="~/Content/img/Logo.jpg" style="width:40px ; height: 40px; margin-right: 10px; float:left">
                        <h1 class="m-0 display-5 font-weight-semi-bold">BANSACHGIA</h1>
                    </a>
                    <a href="#" class="text-decoration-none d-block d-lg-none d-flex ">
                        Danh mục
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            @if (Session["IDkh"] != null)
                            {
                                <a href="@Url.Action("InfoCustomer", "LoginUser")" class="nav-item nav-link">Hello @Session["TenKH"]  </a>
                                <a href="@Url.Action("Logout", "LoginUser")" class="nav-item nav-link">Đăng xuất  </a>

                            }
                            else if (Session["IdQly"] != null)
                            {
                                <a href="@Url.Action("QuanTri", "LoginUser")" class="nav-item nav-link">Trang quản trị</a>
                                <a href="#" class="nav-item nav-link">Hello Qlý</a>
                                <a href="@Url.Action("Logout", "LoginUser")" class="nav-item nav-link">Đăng xuất  </a>

                            }
                            else
                            {
                                <a href="~/LoginUser/LoginAccountCus" class="nav-item nav-link">Login</a>
                                <a href="~/LoginUser/RegisterCus" class="nav-item nav-link">Register</a>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Main Star -->
    <div class="container-fluid pt-5" style="max-width:100%;width:100%;margin-top:2%;background-color:white;padding-bottom:10px;">
        <div class="row">
            <div class="col-lg-2 col-md-12 bg-light border">
                <div class="mb-4 pb-4 ">
                    <h2 class="font-weight-semi-bold">Quản trị</h2>
                    @{
                        @*var vaitro = Session["Vaitro"].ToString();
            if (Session["Vaitro"] != null)
            {
                if (vaitro.Contains("admin")|| vaitro.Contains("Quản lý chính"))
                {
                <a href="~/SanPhams/Index" class="nav-item nav-link">Quản lý sách</a>
                <a href="~/KhachHangs/Index" class="nav-item nav-link">Quản lý Khách hàng</a>
                <a href="~/DanhMucs/Index" class="nav-item nav-link">Quản lý kho sách</a>
                }
                <a href="~/DonHangs/Index" class="nav-item nav-link">Quản lý đơn hàng</a>
                <a href="~/DonHangCTs/Index" class="nav-item nav-link">Chi tiết đơn hàng</a>
                if (vaitro.Contains("admin"))
                {
                   <a href="~/Admins/Index" class="nav-item nav-link">Nhân sự</a>
                }
            }*@
                        var vaitro = Session["Vaitro"] as string;
                        if (!string.IsNullOrEmpty(vaitro))
                        {
                            if (vaitro.Contains("admin") || vaitro.Contains("Quản lý chính"))
                            {
                                <a href="~/SanPhams/Index" class="nav-item nav-link">Quản lý sách</a>
                                <a href="~/KhachHangs/Index" class="nav-item nav-link">Quản lý Khách hàng</a>
                                <a href="~/DanhMucs/Index" class="nav-item nav-link">Quản lý kho sách</a>
                            }
                            <a href="~/DonHangs/Index" class="nav-item nav-link">Quản lý đơn hàng</a>
                            <a href="~/DonHangCTs/Index" class="nav-item nav-link">Chi tiết đơn hàng</a>
                            if (vaitro.Contains("admin"))
                            {
                                <a href="~/Admins/Index" class="nav-item nav-link">Nhân sự</a>
                            }
                        }

                    }
                </div>
            </div>
            <div class="col-lg-10 col-md-12 ">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Main END -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Scripts/main.js"></script>
</body>

</html>