<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="~/Scripts/changeimg.js"></script>

</head>

<body>
    <!-- Topbar Start -->

    <div class="row align-items-center py-3 px-xl-5" id="topbar">
        <div class="col-lg-3 d-none d-lg-block">

            <a href="~/SanPhams/TrangChu" class="text-decoration-none">                
                <h2 class="m-0 display-5 font-weight-semi-bold" style="background-color:white;color:black;border:none;"><img src="~/Content/img/Logo.jpg" style="width:40px;">BANSACHGIA</h2>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left" >
            @using (Html.BeginForm("ProductList", "SanPhams", FormMethod.Get))
            {
                <div class="input-group" style="margin-left:5%;">
                    <input type="text" class="form-control" placeholder=" Nhập tên sách bạn muốn tìm" name="SearchString" style="border-bottom-left-radius: 10px;border-top-left-radius:10px;">                  
                    <button type="submit" class="input-group-text bg-transparent text-primary" style="border-bottom-right-radius: 10px;border-top-right-radius:10px;"><i class="fa fa-search"></i></button>
                </div>
            }
        </div>
        <div class="col-lg-3 col-6 text-right">           
            <a href="~/ShoppingCart/ShowCart" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                @Html.Action("BagCart","ShoppingCart")
            </a>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start-->
    <div class="container-fluid" id="navbar" >
        <div class="row border-top px-xl-5">
             <div class="col-lg-3 d-none d-lg-block"style="z-index:10;" >
         <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"  data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px; border-radius:10px;">
             <h6 class="m-0">Danh mục</h6>
             <i class="fa fa-angle-down text-dark"></i>
         </a>
         <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="min-width: calc(100% - 30px); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; z-index: 1; background-color: azure;box-shadow:2px 2px;">
             @Html.Action("PhanDanhMuc","DanhMucs")
         </nav>
     </div>            
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="~/SanPhams/ProductList" class="text-decoration-none d-block d-lg-none d-flex ">
                        <img src="~/Content/img/Logo.jpg" style="width:40px ; height: 40px; margin-right: 10px; float:left">
                        <h1 class="m-0 display-5 font-weight-semi-bold"> BANSACHGIA</h1>
                    </a>                   
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav ml-auto py-0">
                                @if (Session["IDkh"] != null)
                                {
                                    <a href="@Url.Action("InfoCustomer", "LoginUser")" class="nav-item nav-link">Hello @Session["TenKH"]  </a>
                                    <a href="@Url.Action("Logout", "LoginUser")" class="nav-item nav-link">Đăng xuất  </a>

                                }
                                else if (Session["IdQly"] != null)
                                {
                                    <a href="@Url.Action("QuanTri","LoginUser")" class="nav-item nav-link">Trang quản trị</a>
                                    <a href="#" class="nav-item nav-link">Hello Qlý</a>
                                    <a href="@Url.Action("Logout", "LoginUser")" class="nav-item nav-link">Đăng xuất  </a>

                                }
                                else
                                {
                                    <a href="~/LoginUser/LoginAccountCus" class="nav-item nav-link">Login</a>
                                    <a href="~/LoginUser/RegisterCus" class="nav-item nav-link">Register</a>
                                }
                            </div>
                        </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Main Star -->
    <div class="container-fluid pt-5" style="width:100%;margin-top:2%;">       
        <div class="container-fluid" style="background-color: white; border-radius: 15px; padding: 10px;margin:0 7% 0 7%;width:86%">
            @RenderBody()
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Main END -->
    <!-- Footer Start -->
<footer class="container-fluid text-dark" style=" margin: 0 8% 0 8%; width: 84%; margin-top: 2%; background-color: white; border-top-left-radius: 10px; border-top-right-radius: 10px; position: relative; bottom: 0;">
    <div class="col-md-8" style="margin:0 auto 0 auto;">
        <div class="row" style="padding-top:15px;">
            <div class="col-sm-5 col-md-4 col-sms-4 col-smb-10">
                <div class="footer-static-title">
                    <h5>VỀ CHÚNG TÔI</h5>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li class="first"><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Thông tin tuyển dụng</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-sms-4 col-smb-10">
                <div class="footer-static-title">
                    <h5>QUY ĐỊNH & ĐIỀU KHOẢN</h5>
                </div>
                <div class="footer-static-content ">
                    <ul>
                        <li><a href="#">Chính sách bảo vệ khách hàng</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li class="last">
                            <a href="#">
                                Chính sách đổi trả
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 col-sms-4 col-smb-10">
                <div class="footer-static-title">
                        <h5>
                            THÔNG TIN LIÊN HỆ
                        </h5>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li class="first footer_login_link">
                            <a>
                                Hotline: 1900 0910
                            </a>
                        </li>
                        <li>
                            <a>
                                Email: bansachgia@gmail.com
                            </a>
                        </li>
                        <li>
                            <a>
                                Time: 8:00 - 23:00
                            </a>
                        </li>
                        <li class="last">
                            <a>
                                Address: 828 Sư Vạn Hạnh, phường 13, quận 10, TP.HCM
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
    <!-- Footer End --> 

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Scripts/main.js"></script>
</body>

</html>