@model BanSach.Models.DonHang

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>


    table, h2 {
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        text-align: center;
        background-color: darkcyan;
        color: white;
        border: 2px solid darkcyan;
        border-radius: 10px;
    }

    tr {
        border: 2px solid steelblue;
        color: steelblue;
        width: 100%;
    }

    .thongtin {
        color: black;
    }

    table {
        font-size: large;
        width: 70%;
    }

    .tieude {
        padding: 10px;
    }
</style>


<h2>Thông tin đơn hàng</h2>

<table class="bang">
    <tr>
        <td class="tieude"> <b>Đơn hàng  </b></td>
        <td class="thongtin"> @Html.DisplayFor(model => model.IDdh)</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="tieude"><b>ID khách hàng  </b></td>
        <td class="thongtin">  @Html.DisplayFor(model => model.IDkh) </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="tieude"> <b>Tên khách hàng  </b> </td>
        <td class="thongtin">  @Html.DisplayFor(model => model.KhachHang.TenKH)</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="tieude"> <b>Số điện thoại  </b> </td>
        <td class="thongtin">  @Html.DisplayFor(model => model.KhachHang.SoDT) </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="tieude"> <b>Địa chỉ  </b>  </td>
        <td class="thongtin"> @Html.DisplayFor(model => model.DiaChi) </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="tieude"><b>Ngày đặt hàng  </b> </td>
        <td class="thongtin">  @Html.DisplayFor(model => model.NgayDatHang) </td>
    </tr>
</table>

<h2>Chi tiết đơn</h2>

@foreach (var item2 in Model.DonHangCTs)
{
    <table class="bang">
        <tr>
            <td class="tieude">
                <b>Sản phẩm  </b>
            <td class="thongtin">
                @item2.SanPham.TenSP
            </td>
        </tr>
        <tr>
            <td class="tieude">
                <b>Số lượng  </b>
            <td class="thongtin">
                @item2.SanPham.SoLuong
            </td>
        </tr>
        <tr>
            <td class="tieude">
                <b>Giá  </b>
            <td class="thongtin">
                @item2.SanPham.GiaBan 000 đ
            </td>

        </tr>
    </table>
}


<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDdh }) |
    @Html.ActionLink("Quay về", "Index") |
    @Html.ActionLink("Xoá", "Delete", new { id = Model.IDdh })

</p>