@model BanSach.Models.DonHangCT

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
        text-align: center;
        background-color: khaki;
        color: black;
        border: 2px solid khaki;
        border-radius: 10px;
    }
</style>
<h2>Sửa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDdh)

        <div class="form-group">
            <div class="control-label col-md-2"> Sản phẩm</div>
            <div class="col-md-10">
                @Html.DropDownList("IDSanPham", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDSanPham, "", new { @class = "text-danger" })
            </div>
        </div>
  
        <div class="form-group">
            <div class="control-label col-md-2"> Số lượng</div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Giá</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-warning" style="border-radius:10px;font-weight:bold;"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về", "Index") |
    @Html.ActionLink("Xoá", "Delete", new { id = Model.IDdh }) |

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
